.body{
    height: 100%;
}

.corpo{

    display: flex;
    justify-content: space-between;
    align-items: space-between;
    flex-direction: row;
    height: 10vh;
    padding-top: 15px

}

.icone{

    width: 140px;
    height: 60px;

}

a{

    text-decoration: none;
    color: black;

}

a:hover{
    color: black;
}